<a href="https://colab.research.google.com/github/Aditi15091999/AML-Assignments/blob/main/AML_Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a.	Write the Python code to compute entropy and information gain

In [ ]:
import numpy as np
import pandas as pd
import math

In [ ]:
midwest = pd.read_csv('midwest.csv')
midwest

       name  age  apple_pie?  potato_salad?  sushi?  midwest?
0      jeff   32           0              1       1         1
1      pete   25           1              1       0         1
2      anne   33           1              1       0         1
3   natalie   26           0              0       1         0
4    stella   30           1              1       1         1
5       rob   25           1              0       0         1
6       joe   42           1              1       0         1
7       jim   38           1              1       0         1
8      lisa   36           1              1       0         0
9     sarah   29           1              0       1         0
10    david   35           1              0       0         1
11     eric   28           1              1       1         0
12     mike   20           0              1       0         1
13    karen   38           1              0       0         1
14    megan   31           0              0       1         0

In [ ]:
def calc_entropy(column):
    """
    Calculate entropy given a pandas series, list, or numpy array.
    """
    # Compute the counts of each unique value in the column
    counts = np.bincount(column)
    # Divide by the total column length to get a probability
    probabilities = counts / len(column)
    
    # Initialize the entropy to 0
    entropy = 0
    # Loop through the probabilities, and add each one to the total entropy
    for prob in probabilities:
        if prob > 0:
            # use log from math and set base to 2
            entropy += prob * math.log(prob, 2)
    
    return -entropy

In [ ]:
def calc_information_gain(data, split_name, target_name):
    """
    Calculate information gain given a data set, column to split on, and target
    """
    # Calculate the original entropy
    original_entropy = calc_entropy(data[target_name])
    
    #Find the unique values in the column
    values = data[split_name].unique()
    
    
    # Make two subsets of the data, based on the unique values
    left_split = data[data[split_name] == values[0]]
    right_split = data[data[split_name] == values[1]]
    
    # Loop through the splits and calculate the subset entropies
    to_subtract = 0
    for subset in [left_split, right_split]:
        prob = (subset.shape[0] / data.shape[0]) 
        to_subtract += prob * calc_entropy(subset[target_name])
    
    # Return information gain
    return original_entropy - to_subtract

In [ ]:
columns = ['apple_pie?', 'potato_salad?', 'sushi?']

def highest_info_gain(columns):
  #Intialize an empty dictionary for information gains
  information_gains = {}
  
  #Iterate through each column name in our list
  for col in columns:
    #Find the information gain for the column
    information_gain = calc_information_gain(midwest, col, 'midwest?')
    #Add the information gain to our dictionary using the column name as the ekey                                         
    information_gains[col] = information_gain
  
  #Return the key with the highest value                                          
  return max(information_gains, key=information_gains.get)

In [ ]:
entropy=calc_entropy(midwest['midwest?'])
entropy

0.9182958340544896

In [ ]:
columns = ['apple_pie?', 'potato_salad?', 'sushi?']

for col in columns:
  information_gain=calc_information_gain(midwest,col,'midwest?')
  print(information_gain)

0.03170514719803608
0.0597731301493174
0.24902249956730627

In [ ]:
print(highest_info_gain(columns))

sushi?

b.	Write the  Python code to demonstrate a conditional probability

In [ ]:
import pandas as pd
import numpy as np

#create pandas DataFrame with raw data
df = pd.DataFrame({'gender': np.repeat(np.array(['Male', 'Female']), 150),
                   'sport': np.repeat(np.array(['Baseball', 'Basketball', 'Football',
                                                'Soccer', 'Baseball', 'Basketball',
                                                'Football', 'Soccer']), 
                                    (34, 40, 58, 18, 34, 52, 20, 44))})

#produce contingency table to summarize raw data
survey_data = pd.crosstab(index=df['gender'], columns=df['sport'], margins=True)

#view contingency table
survey_data

sport   Baseball  Basketball  Football  Soccer  All
gender
Female        34          52        20      44  150
Male          34          40        58      18  150
All           68          92        78      62  300

In [45]:
#calculate probability of being male, given that individual prefers baseball
survey_data.iloc[1, 0] / survey_data.iloc[2, 0]

0.5

In [46]:
#calculate probability of preferring basketball, given that individual is female
survey_data.iloc[0, 1] / survey_data.iloc[0, 4]

0.3466666666666667

c.	Write the  Python code to compute Euclidean Distance between data points

In [ ]:
from scipy.spatial import distance
a = [1, 3, 27]
b=  [3, 6, 8]
print(distance.euclidean(a,b))

19.339079605813716

d.	Write the  Python code to calculate covariance matrix, Eigenvalues, and Eigenvectors

In [ ]:
import numpy as np
from sklearn.preprocessing import StandardScaler
from numpy.linalg import eig
#
# Percentage of marks and no. of hours studied
#
students = np.array([[85.4, 5],
            [82.3, 6],
            [97, 7],
            [96.5, 6.5]])
#
# Scale the features
#
sc = StandardScaler()
students_scaled = sc.fit_transform(students)
#
# Calculate covariance matrix; One can also use the following
# code: np.cov(students_scaled, rowvar=False)
#
cov_matrix = np.cov(students_scaled.T)
print("Cov-matrix:\n",cov_matrix)
#
# Calculate Eigenvalues and Eigenmatrix
#
eigenvalues, eigenvectors = eig(cov_matrix)
print("Eigen values:",eigenvalues)
print("Eigen vector:\n",eigenvectors)

Cov-matrix:
 [[1.33333333 1.01240122]
 [1.01240122 1.33333333]]
Eigen values: [2.34573455 0.32093211]
Eigen vector:
 [[ 0.70710678 -0.70710678]
 [ 0.70710678  0.70710678]]

e.	Write the  Python code to calculate the following

  a.	Accuracy
  b.	Misclassification  
  c.	Type-1 and Type-2 error rates
  d.	Sensitivity
  e.	Specificity