<a href="https://colab.research.google.com/github/Aditi15091999/AML-Assignments/blob/main/AML_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hours=float(input("Enter the hours"))
rate=float(input("Enter the rate"))
pay=hours*rate
print(pay)

Enter the hours35
Enter the rate2.75
96.25

In [ ]:
x=4
if x<2:
  print('Below 2')
elif x>=2:
  print('two or more')
else:
  print('Something else') # else will never be executed because all values above 2 will satisfy the elif condition

two or more

In [ ]:
x=9
if x<2:
   print('Below 2')
elif x<20:
  print('Below 20')
elif x<10:
  print('Below 10')# elif x<10 will never be executed because all values below 10 will satisfy the first elif condition
else:
  print('Something else')

Below 20

In [ ]:
hours=input("Enter the hours")
rate=input("Enter the rate")
try:
  hours=float(hours)
  rate=float(rate)
  pay=hours*rate
  print(pay)
except:
  print("Not a numeric")

Enter the hourshi
Enter the rate4
Not a numeric

In [ ]:
def paycomp(hours,rate):
  pay=hours*rate
  if(hours>45):
    pay1=(hours-45)*(1.5*rate)+pay
    print("the pay is",pay1)
  else:
    print("The pay is",pay)

paycomp(55,10)

the pay is 700.0

In [ ]:
n=5
while n>0:
  print('Lather')
  print('Rinse')
print('Dry off')#infinite loop

In [ ]:
n=0
while n>0:
  print('Lather')
  print('Rinse')
print('Dry off') # does not enter the while loop as it does not satisfy the while condition

Dry off

In [21]:
list1=[9, 41, 23, 54, 33, 21, 8]
#maximum Number
max=list1[0]
for i in list1:
  if i>max:
    max=i
print("Max is",max)

#smallest Number
min=list1[0]
for i in list1:
  if i<min:
    min=i
print("min is",min)

#Number of Numbers
count=0
for i in list1:
  count=count+1
print("Number of numbers is",count)

#number of odd numbers
odd=0
for i in list1:
  if i%2!=0:
    odd=odd+1
print("Number of odd no",odd)

#number of even numbers
even=0
for i in list1:
  if i%2==0:
    even=even+1
print("Number of even no",even)


#number of prime numbers
counter=0;
for i in list1:
  flag=0
  for j in range(2,i):
    if(i%j==0):
      flag=0
      break
    else:
      flag=1
  if flag==1:
      counter=counter+1;
print("the count of prime numbers are",counter)


#sum and average of number
sum=cnt=0
for i in list1:
  sum=sum+i;
  cnt=cnt+1;
avg=sum/cnt
print("The sum is",sum)
print("The average is",avg)


#filter numbers greater than 20
list2=[]
for i in list1:
  if i>20:
    list2.append(i)  
print("List after removing elements",list2)

#filter numbers less than 15
list3=[]
for i in list1:
  if i<15:
    list3.append(i) 
print("List after removing elements",list3)

#search for element 3
list4=[]
list4.append(5)
a=[6,7,9,0,10,11,3]
list4.extend(a)
print("The list is",list4)
key=3
if key in list4:
    print("Key is found")
else:
  print("key is not found")

Max is 54
min is 8
Number of numbers is 7
Number of odd no 5
Number of even no 2
the count of prime numbers are 2
The sum is 189
The average is 27.0
List after removing elements [41, 23, 54, 33, 21]
List after removing elements [9, 8]
The list is [5, 6, 7, 9, 0, 10, 11, 3]
Key is found

In [16]:
#number of prime numbers

2

In [ ]:
int1=9
print(type(int1)) # type operator is used to find which data type the variable belongs to
int1=str(int1) #type conversion is used to convert one type to another
print(type(int1))

<class 'int'>
<class 'str'>

In [ ]:
for i in list1:
  if i==54:
    continue;
  print(i)

for i in list1:
  if i==54:
    break;
  print(i)

9
41
23
33
21
8
9
41
23